* {
  box-sizing: border-box;
}

.App, body, html, #root {
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section {
  width: 30%;
  height: 100%;
}

.yelp {
  background-color: lightgreen;
}

.weather {
  background-color: lightblue;
}

.pokemon {
  background-color: pink;
}

.App img {
  height: 18rem;
}

.pokemon-name {
  text-transform: uppercase;
  font-weight: 500;
  margin:0;
}

section li {
  list-style: none;
}

label {
  display: block;
}